<!DOCTYPE html>
<html lang="<%- getLocale() %>">
<head>
    <title><%- __('default.title', { page_name: config.name })%></title>
    <%- include("partials/head") %>
</head>
<body class="bg-white dark:bg-discord-300">
    <%- include("partials/navbar") %>
    <div class="py-24 sm:py-16">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
            <div class="mx-auto max-w-2xl text-center">
              <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 dark:text-white sm:text-4xl"><%- __('default.title', { page_name: config.name })%></p>
              <p class="mt-4 text-lg leading-8 text-muted"><%- __('default.description') %></p>
            </div>
          <div class="mx-auto mt-4 max-w-2xl sm:mt-12 lg:mt-12 lg:max-w-4xl">
            <div class="max-w-lg mx-auto bg-white dark:bg-discord-200 shadow-md rounded-lg overflow-hidden">
                <div class="px-4 py-6 overflow-y-scroll max-h-[46rem]">
                    <% for (let i = 0; i < data.length; i++) { let ticket = data[i] %>
                    <div class="p-3 rounded-lg mb-4 bg-white dark:bg-discord-100 cursor-pointer" onclick="window.location.href = '/logs/<%- ticket.key %>'">
                        <div class="flex justify-between">
                            <div class="flex items-center">
                                <img src="<%- ticket.recipient.avatar_url %>" onerror="this.src='<%- ticket.recipient.default_avatar_url %>'" alt="Felhaszn치l칩" class="w-8 h-8 rounded-full">
                                <span class="ml-2 font-semibold text-gray-600 dark:text-gray-100"><%- ticket.recipient.name %></span>
                            </div>
                            <div class="flex items-center">
                                <img src="<%- ticket.closer.avatar_url %>" onerror="this.src='<%- ticket.closer.default_avatar_url %>'" alt="Felhaszn치l칩" class="w-8 h-8 rounded-full">
                                <span class="ml-2 font-semibold text-gray-600 dark:text-gray-100"><%- ticket.closer.name %></span>
                            </div>
                        </div>
                        <div class="flex justify-between">
                            <div class="flex items-center">
                                <p class="mt-2 text-muted"><%- moment(ticket.created_at).locale(getLocale()).fromNow() %></p>
                            </div>
                            <div class="flex items-center">
                                <p class="mt-2 text-gray-900 dark:text-white"><%- ticket.messages.length === 1 ? __('default.message') : __('default.messages', ticket.messages.length) %></p>
                            </div>
                            <div class="flex items-center">
                                <p class="mt-2 text-muted"><%- moment(ticket.created_at).locale(getLocale()).fromNow() %></p>
                            </div>
                        </div>
                    </div>
                    <% }; %>
                </div>
            </div>
          </div>
        </div>
      </div>
</body>
</html>